.welcomeScreen {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.17) 28.26%,
      rgba(255, 255, 255, 0) 100%
    ),
    #29620f;
  margin: -3.5em 0;
  padding: 3.5em;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.08),
    0px 1px 12px rgba(0, 0, 0, 0.04);
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .largeLogo {
    width: 90%;
  }
  .welcomeScreen {
    padding: 0;
    height: 75vh;
  }
}

.smallLogo {
  width: 50%;
}
